/*
 * Autor: Luis Felipe Nieves.
 * Fecha: 28/06/2024
 * Descripción: Estilo para encriptador de texto challenge Alura
*/

/*
* Estilo de la pagina
*/

:root
{
    --color-primary:#009688;
    --color-primary-oscuro:#00796B;
    --color-primary-suave:#B2DFDB;
    --color-text:#FFFFFF;
    --color-text-primary:#212121;
    --color-text-segundario:#757575;
    /*--color-sugundario:#BDBDBD;*/
    --color-sugundario:#f4f4f4;
    --color-acentado:#009688;
}

* 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

header 
{
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex; /* or inline-flex */
    justify-content:center;
    align-items: center;
}

header a 
{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
}

body 
{
    background-color: var(--color-sugundario);
}

main 
{
    margin: 1em auto;
    max-width: 100%;
}

footer 
{
    background-color:var(--color-primary);
    color: white;
    text-align: center;
    padding: 1em;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    padding: 10px;
}

.item {
    background-color: var(--color-sugundario);
    padding: 10px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/*
* Estilo de los inputs
*/

textarea 
{
    text-transform: lowercase;
    width: 100%;
    height: 200px;
    padding:10px;
    font-size: 1.5rem;
    resize: none;
}

.mensaje
{
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

/*
* Estilo de botones
*/

.button
{
    min-width: 130px;
    height: 40px;
    margin-bottom: 5px;
}
